#product_list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.product_list_action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product_list_action_search input {
  padding: 10px;
  display: block;
  width: 250px;
  border: 1px solid #bfbfbf;
  font-size: 14px;
  outline: none;
  transition: all 0.2s linear;
}

.product_list_action_search input:focus {
  border: 1px solid #000;
}

.product_list_action_sort select {
  padding: 4px 20px 4px 4px;
  outline: none;
  border: 1px solid #bfbfbf;
  transition: all 0.2s linear;
}

.product_list_action_sort select:focus {
  border: 1px solid #000;
}

/* Product list css  */

.product_list_not_found {
  padding: 32px 0;
  margin: 0 auto;
  font-size: 32px;
  font-weight: bold;
  font-style: italic;
  color: #aaaaaa;
}

.product_list_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  text-align: center;
}
