#banner {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 90px 55% 90px 60px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-style: italic;
}

.banner_title {
  font-size: 20px;
  font-weight: 400;
  color: #8b8b8b;
  margin-bottom: 8px;
}

.banner_content {
  font-size: 40px;
  font-weight: 500;
  color: #000;
}

.banner_btn {
  margin-top: 16px;
  background-color: #1b1b1b;
  border: none;
  color: #d7d7d7;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  cursor: pointer;
  transition: all 0.2s linear;
}

.banner_btn:hover {
  transform: scale(1.1);
  color: #fff;
  background-color: #000;
}
